<div class="card-deck">
        <div class="card border-light mb-3 shadow p-3 mb-5 bg-white rounded" style="max-width: 18rem;">
            <div class="card-header font-weight-bolder bg-transparent border-light">{{ cardName }}</div>
            <div class="card-body text-dark">
            <p class="card-text">{{ number }}</p>
            <p class="card-text">Last updated at: {{ lastUpdate }}</p>
            <p class="card-text font-italic">{{ text }}</p>
            <!--<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
          </div>
          <div class="card-footer {{ color }} border-light"></div>
        </div>

        <div class="card-deck">
            <div class="card border-light mb-3 shadow p-3 mb-5 bg-white rounded" style="max-width: 18rem;">
                <div class="card-header font-weight-bolder bg-transparent border-light">Recovered</div>
                <div class="card-body text-dark">
                <p class="card-text"># of People</p>
                <p class="card-text">Real Date</p>
                <p class="card-text font-italic">Number of recoveries from COVID-19</p>
                <!--<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
              </div>
              <div class="card-footer bg-success border-light"></div>
            </div>

        <div class="card border-light mb-3 shadow p-3 mb-5 bg-white rounded" style="max-width: 18rem;">
            <div class="card-header font-weight-bolder bg-transparent border-light">Deaths</div>
            <div class="card-body text-dark">
            <p class="card-text"># of People</p>
            <p class="card-text">Real Date</p>
            <p class="card-text font-italic">Number of deaths from COVID-19</p>
            <!--<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
          </div>
          <div class="card-footer bg-danger border-dark"></div>
        </div>
</div>