<div class="card border-light mb-3 shadow p-3 mb-5 bg-white rounded" style="max-width: 18rem;">
  <div class="card-header font-weight-bolder bg-transparent border-light">{{ cardName }}</div>
    <div class="card-body text-dark">
      <p class="card-text">{{ number }}</p>
      <p class="card-text">Last updated at: {{ lastUpdate }}</p>
      <p class="card-text font-italic">{{ text }}</p>
    </div>
    <div class="card-footer {{ color }} border-light"></div>
</div>